// Base = Animation
// variables

// animation names
$base-name-bounce: bounce;
$base-name-blink: blink;
$base-name-fade-in: fade-in;
$base-name-fade-out: fade-out;
$base-name-move-in: move-in;
$base-name-pulse: pulse;
$base-name-moveup: move-up;
$base-name-move-down: move-down;
$base-name-move-right: move-right;
$base-name-move-left: move-left;

// animation timing/count
$base-time: 2s;
$base-count: 1;
$base-infinite: infinite;

// Maps of animation-timing-function
$base-timing-function: (
'ln':linear,
'es': ease,
'es-in': ease-in,
'es-out': ease-out,
'es-in-out': ease-in-out,
);

// Maps of animation-direction
$base-animation-direction: (
'nm': normal,
'rev': reverse,
'alt': alternate,
'alt-rev': alternate-reverse,
);

// Maps of duration in ms
$base-duration: (
'vfast':100ms,
'fast': 200ms,
'noraml': 500ms,
'slow': 1s,
'vslow': 2s,
);

$base-duration-two: (
'vfast':1s,
'fast': 1.5s,
'noraml': 2s,
'slow': 2.5s,
'vslow': 3s,
);
 

