@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@each $key,
$val in $base-duration-two {
    .fade-out-#{$key}-infinite {
        animation: $base-name-fade-out $val ease $base-infinite;
    }

    @for $i from 1 through 10 {
        .fade-out-#{$key}-#{$i * 2} {
            animation: $base-name-fade-out $val ease $i*2 alternate;
        }
    }
}
