.move-down {
    position: relative;
    animation: $base-name-move-down 1s normal ease-out 3;
}


@keyframes move-down {
    0% {
        top:0px;
    }
    100% {
        top: 50px;
    }
}


@each $key1,
$val1 in $base-duration-two {

    @each $key2,
    $val2 in $base-animation-direction {

        .move-down-#{$key1}-#{$key2}-infinite {
            animation: $base-name-move-down $val1 $val2 $base-infinite;
        }

        @for $i from 1 through 5 {
            .move-down-#{$key1}-#{$key2}-#{$i * 2} {
                animation: $base-name-move-down $val1 $val2 $i * 2;
            }
        }

    }
}

@each $key1,
$val1 in $base-duration-two {

    @each $key2,
    $val2 in $base-animation-direction {

        .hov-move-down-#{$key1}-#{$key2}:hover {
            animation: $base-name-move-down $val1 $val2 $base-infinite;
        }

    }
}